# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
.venv/

# testing
coverage
test/
tests/

# production
build
dist
release
*.ipk
*.ipk.sha256

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.psd

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Environment
.env
.env.local
.env.*
breezyfin-webos.code-workspace
.webosstudio.config
