@media (max-width: 1600px) {
	.content {
		grid-template-columns: 1fr;
		padding: calc(var(--bf-top-chrome-height) + 1.35rem) 2.5rem var(--bf-settings-content-bottom-pad);
	}

	.settingsTabs {
		width: 100%;
		border-radius: 1.2rem;
	}
}
