:global([data-bf-nav-theme='elegant']) {
	.popupOption {
		--settings-popup-option-fg-hover: var(--bf-theme-accent);
	}

	.settingsContainer {
		--bf-settings-content-bottom-pad: calc(4rem + var(--bf-toolbar-height));
		--bf-settings-bottom-spacer: 1.5rem;
	}
}
