.toolbarElegant .userContainer {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		height: 0.7rem;
	}
}

.toolbarElegant .userMenu {
	left: auto;
	right: 0;
}
