.progressContainer {
	display: flex;
	align-items: center;
	gap: 18px;
	margin-bottom: 24px;
}

.time {
	font-size: 1.2em;
	min-width: 80px;
	text-align: center;
}

.progressSlider {
	flex: 1;
}

.controlButtons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 36px;
	flex-wrap: nowrap;
}
